<!DOCTYPE html>

<html>

  <head>
    <title>Hans Pistor - Website Developer</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <script src="https://use.fontawesome.com/211c51ec0c.js"></script>
  <body>
    <header id="main-nav" class="clearfix">
      <a href="#" class="name">Hans Pistor</a>
      <nav>
        <a href="articles.html.erb">Articles</a>
        <a href="#">Projects</a>
        <a href="#">Contact</a>
      </nav>
    </header>

    <h1 id="page-title">
      Blog Posts
    </h1>

    <div id="post-wrapper" class="skinny-wrapper">
      <div class="post">
        <p class="date">Monday June 5th</p>
        <h2><a href="#">Why are you using Blogger??</a></h2>
        <hr>
      </div>

      <div class="post">
        <p class="date">Monday June 5th</p>
        <h2><a href="#">Why are you using Blogger??</a></h2>
        <hr>
      </div>

      <div class="post">
        <p class="date">Monday June 5th</p>
        <h2><a href="#">Why are you using Blogger??</a></h2>
        <hr>
      </div>

    </div>

    <div class="clearfix test2">
      <p>whats happening here</p>
    </div>

    <div class="testdiv">
      <p>What in the world is happening</p>
    </div>


    <footer id="main-footer">
      <p class="copyright">&copy;2017 Hans Pistor</p>
      <nav>
        <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        <a href=""><i class="fa fa-github" aria-hidden="true"></i></a>
      </nav>
    </footer>

  </body>

</html>