<!DOCTYPE html>

<html>

  <head>
    <title>Hans Pistor - Website Developer</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <script src="https://use.fontawesome.com/211c51ec0c.js"></script>
  </head>
  <body>

    <div class="wrapper wrapper_padding clearfix">
      <div class="about welcome_content">
        <h2>About</h2>
        <hr>
        <p>I'm a website and software developer living in Florida.</p>
        <p>
          I attend Stetson University for Computer Science.I'm a
          member of many clubs including the Sigma Nu Fraternity
          and Stetson Kiwanis Club.
        </p>
        <p>
          Find me complaining on my lack
          of creativity on any social media platform, but mainly
          Reddit and Twitter
        </p>
      </div>
      <div class="blogposts welcome_content">
        <h2>Blog Posts</h2>
        <hr>
        <h3><a href="#">Why are you using Blogger??</a></h3>
        <p class="date">Monday, June 5th</p>
        <h3><a href="#">Why are you using Blogger??</a></h3>
        <p class="date">Monday, June 5th</p>
        <h3><a href="#">Why are you using Blogger??</a></h3>
        <p class="date">Monday, June 5th</p>
      </div>
      <div class="projects welcome_content">
        <h2>Projects</h2>
        <hr>
        <h3><a href="#">Why are you using Blogger??</a></h3>
        <p class="date">Monday, June 5th</p>
        <h3><a href="#">Why are you using Blogger??</a></h3>
        <p class="date">Monday, June 5th</p>
        <h3><a href="#">Why are you using Blogger??</a></h3>
        <p class="date">Monday, June 5th</p>

      </div>
    </div>

    <footer id="main-footer">
      <p class="copyright">&copy;2017 Hans Pistor</p>
      <nav>
        <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        <a href=""><i class="fa fa-github" aria-hidden="true"></i></a>
      </nav>
    </footer>

  </body>

</html>