<html>


  <head>


  </head>

  <body>
    <div id="topheader">
      <h1 id="top">Mars</h1>
      <h2><em>The Next Frontier</em></h2>
      <%= image_tag "mars.jpg", class: "marsimage" %>
    </div>
    <p>
      Mars is the fourth planet from the Sun and the second-smallest planet in the Solar System, after Mercury. Named
      after
      the Roman god of war, it is often referred to as the "Red Planet"[13][14] because the iron oxide prevalent on its
      surface gives it a
      reddish appearance.[15] Mars is a terrestrial planet with a thin atmosphere, having surface features reminiscent
      both
      of the impact craters of the Moon and the valleys, deserts, and polar ice caps of Earth.
    </p>
    <hr/>
    <div id="facts">
      <h2>About Mars</h2>
      <ul>
        <li>
          <strong>Mass:</strong> 6.4171×10<sup>23</sup> kg
        </li>
        <li>
          <strong>Mean Radius: </strong>3,389.5 km
        </li>
      </ul>
      <hr/>
      <ol>
        <li>
          <strong>Mars</strong> is the fourth planet from the sun
        </li>
        <li>
          <strong>Mars</strong> is named after the Roman god of war
        </li>
        <li>
          The tallest mountain in the solar system is located on <strong>Mars</strong>
        </li>
      </ol>

      <hr/>

      <table>
        <thead>
          <tr>
            <th>
              Name
            </th>
            <th>
              Colors
            </th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Mercury</td>
            <td>
              Red
            </td>
          </tr>

          <tr>
            <td>
              Venus
            </td>
            <td>
              Green
            </td>
          </tr>

          <tr>
            <td>
              Earth
            </td>
            <td>
              Blue
            </td>
          </tr>

          <tr>
            <td>
              Mars
            </td>
            <td>
              Red
            </td>
          </tr>


          </tb>
        </tbody>
      </table>
    </div>

    <hr/>
    <input type="button" value="Click here to learn more"/>
    <br/>
    <a href="#top">Click here to go to top of page</a>
  </body>

</html>
