
<h1 id="page-title">
  Blog Posts
</h1>
<% if admin_signed_in? %>
    <h3>Welcome back bruh</h3>
    <%= link_to "Add an Article", new_post_path %>
<% end %>
x

<div id="post-wrapper" class="skinny-wrapper">
  <div class="post">
    <p class="date">Monday June 5th</p>
    <h2><a href="#">Why are you using Blogger??</a></h2>
    <hr>
  </div>

  <div class="post">
    <p class="date">Monday June 5th</p>
    <h2><a href="#">Why are you using Blogger??</a></h2>
    <hr>
  </div>

  <div class="post">
    <p class="date">Monday June 5th</p>
    <h2><a href="#">Why are you using Blogger??</a></h2>
    <hr>
  </div>

</div>